---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionHead from "../components/PageBanner.astro";
import CtaBanner from "../components/CtaBanner.astro";

const title = "Code of Conduct";
const desc = "";
const image = "/hero-inner.webp";
---

<BaseLayout title="About Us" description="About Us">
  <SectionHead title={title} desc={desc} image={image} />
  <Container>
    <div class="h-96">Code of Conduct</div>
  </Container>
  <CtaBanner />
</BaseLayout>
