---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionHead from "../components/PageBanner.astro";
import CtaBanner from "../components/CtaBanner.astro";

const title = "Financials";
const desc = "";
const image = "/hero-inner.webp";
---

<BaseLayout title="About Us" description="About Us">
  <SectionHead title={title} desc={desc} image={image} />
  <Container>
    <div class="my-56 flex items-center justify-center">
      <div class="text-center">
        <h1
          class="text-4xl font-bold text-secondary-500 dark:text-white lg:text-5xl lg:tracking-tight"
        >
          Financial data coming soon
        </h1>
        <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
          Our financial transparency is built right in
        </p>
      </div>
    </div>
  </Container>
  <CtaBanner />
</BaseLayout>
