---
import Containter from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionHead from "../components/PageBanner.astro";
import AboutBody from "../components/AboutBody.astro";
import CtaBanner from "../components/CtaBanner.astro";

const title = "Financials";
const desc = "";
const image = "/hero-inner.webp";
---

<BaseLayout title="About Us" description="About Us">
  <SectionHead title={title} desc={desc} image={image} />
  <Containter>
    <div class="h-96">financials</div>
  </Containter>
  <CtaBanner />
</BaseLayout>
