---
import { Image } from "astro:assets";
import aboutImage from "../../public/about-us.webp";
---

<div class="flex justify-center py-16">
  <div
    class="flex max-w-screen-xl flex-col items-center rounded-lg bg-secondary-600 shadow-lg shadow-gray-300 dark:bg-secondary-800 dark:shadow-gray-900 md:flex-row"
  >
    <!-- Left: Image -->
    <div class="h-full w-full md:w-1/2">
      <Image
        src={aboutImage}
        alt="illustration for about us page"
        class="h-full rounded-t-lg object-cover md:rounded-l-lg md:rounded-t-none"
      />
    </div>

    <!-- Right: Text Content -->
    <div class="w-full p-10 md:w-1/2">
      <div class="text prose">
        <span
          class="border-l-2 border-primary-400 pl-2 uppercase text-gray-200"
        >
          About us
        </span>
        <h2
          class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
        >
          <span class="text-accent-300">Panhandle People's Pantry</span>
        </h2>
        <div class="text-gray-200">
          <p>
            The Panhandle People's Pantry, founded in 2025, is a community-led
            food co-op ensuring access to fresh, nutritious food through local
            partnerships.
          </p>
          <p>
            We believe healthy food is a right. Our mission is to connect
            communities with quality ingredients and promote sustainable,
            ethical food access.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
