---
import { Icon } from "astro-icon/components";
import { brand } from "../common/companyItems";
---

<div class="flex flex-col">
  <div class="grid justify-center lg:justify-start">
    <div class="mb-6 flex items-center space-x-3">
      <img
        src="../../logo.webp"
        class="w-64"
        width="64px"
        height="64px"
        alt="brand logo"
      />
    </div>
    <div
      class="mb-6 flex items-center justify-center space-x-3 text-lg font-semibold text-[#94d20b] lg:justify-center"
    >
      Building a longer table
    </div>
  </div>
</div>
