---
import ContactInfo from "../components/ContactInfo.astro";
---

<section class="grid grid-cols-1 lg:grid-cols-3">
  <div class="lg:col-span-2">
    <div class="mt-16 bg-white dark:bg-gray-800 lg:mt-0">
      <div class="mx-auto max-w-screen-md px-4 py-8 lg:pb-4 lg:pt-16">
        <div class="text prose text-gray-600 dark:text-gray-300">
          <span
            class="border-b-2 border-primary-500 uppercase text-gray-500 dark:text-gray-200"
            >Contact</span
          >
          <h2
            class="my-4 text-3xl font-bold text-gray-600 dark:text-white sm:text-4xl"
          >
            Let's <span class="text-primary-500">Talk</span>
          </h2>
          <div class="text-justify text-gray-700 dark:text-gray-200">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
              commodi doloremque, fugiat illum magni minus nisi nulla numquam
              obcaecati placeat quia, repellat tempore voluptatum.
            </p>
          </div>
        </div>
        <form
          name="contact"
          method="POST"
          id="form"
          data-astro-reload
          class="space-y-4"
          data-netlify="true"
        >
          <div>
            <label
              for="name"
              class="mb-2 block text-lg font-medium text-gray-600 dark:text-gray-300"
              >Your Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              class="block w-full rounded-lg border border-gray-300 bg-white p-4 text-sm text-gray-900 hover:ring-1 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-700 dark:bg-gray-900 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
              placeholder="John Smith"
              required
            />
          </div>
          <div>
            <label
              for="email"
              class="mb-2 block text-lg font-medium text-gray-600 dark:text-gray-300"
              >Your Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="block w-full rounded-lg border border-gray-300 bg-white p-4 text-sm text-gray-900 hover:ring-1 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-700 dark:bg-gray-900 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
              placeholder="john.smith@gmail.com"
              required
            />
          </div>
          <div>
            <label
              for="subject"
              class="mb-2 block text-lg font-medium text-gray-600 dark:text-gray-300"
              >Subject</label
            >
            <input
              type="text"
              name="subject"
              id="subject"
              class="block w-full rounded-lg border border-gray-300 bg-white p-4 text-sm text-gray-900 hover:ring-1 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-700 dark:bg-gray-900 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
              placeholder="Let us know how we can help you"
              required
            />
          </div>
          <div class="sm:col-span-2">
            <label
              for="message"
              class="mb-2 block text-lg font-medium text-gray-600 dark:text-gray-300"
              >Your Message</label
            >
            <textarea
              id="message"
              name="message"
              rows="6"
              minlength="10"
              class="block w-full rounded-lg border border-gray-300 bg-white p-4 text-sm text-gray-900 hover:ring-1 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-700 dark:bg-gray-900 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
              placeholder="Leave a comment..."
              required></textarea>
          </div>
          <button
            type="submit"
            class="bg-primary-500 px-4 py-2 text-center font-bold text-white hover:bg-primary-600 dark:bg-primary-600 dark:hover:bg-primary-700"
            >Send message</button
          >
        </form>
      </div>
    </div>
  </div>
  <div class="content-center lg:col-span-1">
    <ContactInfo />
  </div>
</section>
