---

---

<div
  class="border-accent-300 relative border-b-8 border-t-8 bg-gray-400 bg-[url('/cta-image.webp')] bg-cover bg-center bg-no-repeat py-12 bg-blend-multiply dark:bg-gray-500"
>
  <!-- Blur overlay -->
  <div class="absolute inset-0"></div>
  <!-- Content -->
  <div
    class="relative z-10 mx-auto max-w-screen-xl px-4 py-16 sm:py-32 lg:px-6"
  >
    <div class="mx-auto max-w-screen-sm text-center">
      <h2
        class="mb-4 text-4xl font-extrabold leading-tight tracking-tight text-gray-200 dark:text-white"
      >
        Ready to make a real change in Amarillo?
      </h2>
      <p class="mb-6 font-semibold text-white dark:text-gray-400 md:text-lg">
        Nourishing Communities, Empowering Change—Join the Food Liberation
        Movement Today!
      </p>
      <a
        href="/contact"
        class="bg-primary-600 px-4 py-4 text-center text-lg font-bold text-white hover:bg-gray-800"
      >
        Become a member
      </a>
    </div>
  </div>
</div>
