---

---

<div
  class="mt-20 rounded-lg border-b-8 border-gray-600 bg-primary-50 shadow-xl dark:border-primary-900 dark:bg-gray-700"
>
  <div
    class="mx-auto flex max-w-screen-xl flex-col items-center px-4 py-8 sm:py-16 lg:px-6"
  >
    <div
      class="grid grid-cols-1 space-y-8 md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-4"
    >
      <div class="flex flex-col items-center text-center">
        <div
          class="mb-4 flex h-20 w-20 items-center justify-center rounded-br-3xl rounded-tl-3xl border-2 border-primary-600 bg-primary-100 dark:border-none dark:bg-primary-900"
        >
          <svg
            class="h-10 w-10 text-primary-600 dark:text-primary-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M9 16H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v1M9 12H4m8 8V9h8v11h-8Zm0 0H9m8-4a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"
            ></path>
          </svg>
        </div>
        <h1 class="mb-2 text-3xl font-bold text-gray-600 dark:text-gray-200">
          Service 1
        </h1>
        <p class="text-balance text-gray-600 dark:text-gray-400 sm:mb-4">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
      <div class="flex flex-col items-center text-center">
        <div
          class="mb-4 flex h-20 w-20 items-center justify-center rounded-br-3xl rounded-tl-3xl border-2 border-primary-600 bg-primary-100 dark:border-none dark:bg-primary-900"
        >
          <svg
            class="h-10 w-10 text-primary-600 dark:text-primary-400"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"></path>
          </svg>
        </div>
        <h1 class="mb-2 text-3xl font-bold text-gray-600 dark:text-gray-200">
          Service 2
        </h1>
        <p class="text-balance text-gray-600 dark:text-gray-400 sm:mb-4">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
      <div class="flex flex-col items-center text-center">
        <div
          class="mb-4 flex h-20 w-20 items-center justify-center rounded-br-3xl rounded-tl-3xl border-2 border-primary-600 bg-primary-100 dark:border-none dark:bg-primary-900"
        >
          <svg
            class="h-10 w-10 text-primary-600 dark:text-primary-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"
            ></path>
          </svg>
        </div>
        <h1 class="mb-2 text-3xl font-bold text-gray-600 dark:text-gray-200">
          Service 3
        </h1>
        <p class="text-balance text-gray-600 dark:text-gray-400 sm:mb-4">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
      <div class="flex flex-col items-center text-center">
        <div
          class="mb-4 flex h-20 w-20 items-center justify-center rounded-br-3xl rounded-tl-3xl border-2 border-primary-600 bg-primary-100 dark:border-none dark:bg-primary-900"
        >
          <svg
            class="h-10 w-10 text-primary-600 dark:text-primary-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="m8 9 3 3-3 3m5 0h3M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
            ></path>
          </svg>
        </div>
        <h1 class="mb-2 text-3xl font-bold text-gray-600 dark:text-gray-200">
          Service 4
        </h1>
        <p class="text-balance text-gray-600 dark:text-gray-400 sm:mb-4">
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
    </div>
  </div>
</div>
