---

---

<section
  class="max-w-full bg-gray-400 bg-cover bg-center bg-no-repeat py-0 bg-blend-multiply md:h-screen md:bg-top md:pb-8"
  aria-labelledby="hero-heading"
>
  <div
    id="hero-carousel"
    class="relative z-10 w-full"
    data-carousel="slide"
    data-carousel-interval="8000"
  >
    <div class="relative h-screen overflow-hidden">
      <!-- Slide 1 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
        <div
          class="absolute inset-0 bg-gray-400 bg-[url('/hero-image1.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply"
        >
        </div>
        <div
          class="relative z-10 flex h-full flex-col items-center justify-center px-6 text-center text-white"
        >
          <h1 class="text-4xl font-extrabold md:text-5xl lg:text-6xl">
            Food For the People, By the People
          </h1>
          <p class="mt-4 max-w-2xl text-lg md:text-2xl">
            Join us in creating a future where fresh, healthy food is accessible
            to all.
          </p>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
        <div
          class="absolute inset-0 bg-gray-400 bg-[url('/hero-image2.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply"
        >
        </div>
        <div
          class="relative z-10 flex h-full flex-col items-center justify-center px-6 text-center text-white"
        >
          <h1 class="text-4xl font-extrabold md:text-5xl lg:text-6xl">
            Community-Powered Food Access
          </h1>
          <p class="mt-4 max-w-2xl text-lg md:text-2xl">
            We work together to make sure no one goes hungry.
          </p>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
        <div
          class="absolute inset-0 bg-gray-400 bg-[url('/hero-image3.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply"
        >
        </div>
        <div
          class="relative z-10 flex h-full flex-col items-center justify-center px-6 text-center text-white"
        >
          <h1 class="text-4xl font-extrabold md:text-5xl lg:text-6xl">
            Cooperative Solutions for Food Justice
          </h1>
          <p class="mt-4 max-w-2xl text-lg md:text-2xl">
            Together, we can build a just and sustainable food system.
          </p>
        </div>
      </div>
      <!-- Slide 4 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
        <div
          class="absolute inset-0 bg-gray-400 bg-[url('/hero-image4.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply"
        >
        </div>
        <div
          class="relative z-10 flex h-full flex-col items-center justify-center px-6 text-center text-white"
        >
          <h1 class="text-4xl font-extrabold md:text-5xl lg:text-6xl">
            Supporting Local Farmers & Producers
          </h1>
          <p class="mt-4 max-w-2xl text-lg md:text-2xl">
            Every purchase supports sustainable, ethical food production.
          </p>
        </div>
      </div>
      <!-- Slide 5 -->
      <div class="hidden duration-1000 ease-in-out" data-carousel-item>
        <div
          class="absolute inset-0 bg-gray-400 bg-[url('/hero-image5.webp')] bg-cover bg-center bg-no-repeat bg-blend-multiply"
        >
        </div>
        <div
          class="relative z-10 flex h-full flex-col items-center justify-center px-6 text-center text-white"
        >
          <h1 class="text-4xl font-extrabold md:text-5xl lg:text-6xl">
            Your Community, Your Pantry
          </h1>
          <p class="mt-4 max-w-2xl text-lg md:text-2xl">
            Join us in reshaping food access for everyone.
          </p>
        </div>
      </div>
    </div>

    <!-- cta buttons -->
    <div
      class="absolute inset-0 z-30 mt-80 flex flex-col items-center justify-center px-6 text-center text-white"
    >
      <div
        class="mt-6 flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
      >
        <a
          href="/about"
          class="inline-flex items-center justify-center border border-white bg-primary-500 px-5 py-3 text-base font-medium text-white hover:bg-primary-600"
          >Read our story</a
        >
        <a
          href="/contact"
          class="inline-flex items-center justify-center border border-white px-5 py-3 text-base font-medium text-white hover:bg-gray-100 hover:text-gray-900 sm:ms-4"
          >Become a member</a
        >
      </div>
    </div>

    <!-- Slider indicators -->
    <div
      class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse"
    >
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 4"
        data-carousel-slide-to="3"></button>
      <button
        type="button"
        class="h-3 w-3 rounded-full"
        aria-current="false"
        aria-label="Slide 5"
        data-carousel-slide-to="4"></button>
    </div>

    <!-- Navigation buttons -->
    <button
      type="button"
      class="group absolute start-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60"
      >
        <svg
          class="h-4 w-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="group absolute end-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60"
      >
        <svg
          class="h-4 w-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
  <!-- this is here so the feature head component stays in view -->
  <!-- <div id="intro" class="mb-16 md:mb-32"></div> -->
</section>
